<% content_for :form_errors do %>
    <p>
      <%= pluralize(object.errors.count, 'error') %> prevented saving of form:
    </p>

    <ul>
      <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
