<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Runs", runs_path %></li>
  <% if user_signed_in? %>
      <%= render 'layouts/navigation/user_menu' %>
  <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>
</ul>
